<!DOCTYPE html>
<html>
<head>
	<title>Team Section</title>
   {% load static %}
     <meta name="viewport" content="width=device-width, initial-scale=1">
   
	<link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
  
  <section class="team-section">
     <div class="container">
         <div class="row">
             <div class="section-title">
             	<h1>About Us</h1>

                 <h3 align="center" style="color: white">Our Team</h3>
                 <p>We are Team-6, and this is our hard-working and brilliant team.</p>
             </div>
         </div>
         <div class="row">
             <div class="team-items">
                  <div class="item">
                      <img src="{% static 'images/varun.jpg' %}" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>GM Varun</h5>
                               <p>Web Developer & Designer</p>
                               <div class="social-links">
                                   <a href="https://www.facebook.com/gmvarun.varun.5/" ><span class="fa fa-facebook"></span></a>
                                   <a href="https://www.instagram.com/thenameisvarungm/"><span class="fa fa-instagram"></span></a>
                                   <a href="https://www.linkedin.com/in/varun-gm-86694a1a4/"><span class="fa fa-linkedin"></span></a>
                                   <a href="https://github.com/UniverseVG"><span class="fa fa-github"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <img src="{% static 'images/salman.jpg' %}" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Shaik Salman Khan</h5>
                               <p>Web Developer & Designer</p>
                               <div class="social-links">
                                   <a href="https://www.facebook.com/shaiksalmankhan498"><span class="fa fa-facebook"></span></a>
                                   <a href=" https://www.instagram.com/salman___498/"><span class="fa fa-instagram"></span></a>
                                   <a href=" https://www.linkedin.com/in/shaik-salman-khan-572520191/"><span class="fa fa-linkedin"></span></a>
                                   <a href=" https://github.com/ShaikSalmanKhan"><span class="fa fa-github"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                   <div class="item">
                      <img src="{% static 'images/dheeraj.jpg' %}" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Dheeraj Reddy Kommidi</h5>
                               <p>Web Developer & Designerer</p>
                               <div class="social-links">
                                   <a href=""><span class="fa fa-facebook"></span></a>
                                   <a href=""><span class="fa fa-instagram"></span></a>
                                   <a href=""><span class="fa fa-linkedin"></span></a>
                                   <a href=""><span class="fa fa-github"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                            <div class="item">
                      <img src="{% static 'images/pavan.png' %}" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Pawan sagade</h5>
                               <p>Web Developer & Designerer</p>
                               <div class="social-links">
                                   <a href=" https://www.facebook.com/pawan.sagade.7/"><span class="fa fa-facebook"></span></a>
                                   <a href="https://www.instagram.com/pawan_sagade/"><span class="fa fa-instagram"></span></a>
                                   <a href="https://www.linkedin.com/in/pawan-sagade-3666531b6/"><span class="fa fa-linkedin"></span></a>
                                   <a href=""><span class="fa fa-github"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <img src="{% static 'images/vignesh.png' %}" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Vishesh Singh</h5>
                               <p>Web Developer & Designer</p>
                               <div class="social-links">
                                   <a href=""><span class="fa fa-facebook"></span></a>
                                   <a href=""><span class="fa fa-instagram"></span></a>
                                   <a href="https://www.linkedin.com/in/vishesh-singh-20a24a1a9"><span class="fa fa-linkedin"></span></a>
                                   <a href=""><span class="fa fa-github"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                
                 
             </div>
         </div>
     </div>
  </section>

</body>
</html>
