<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title></title>
	{% load static %}
	<style type="text/css">
body
{
	background-image:url("{% static 'images/pic1.jpg' %}");
	background-repeat: no-repeat;
	background-size: cover;
}
		h1
		{
			font-size: 300%;
          color: white;
         text-align: center;
         line-height: 300px;
          font-family: "Arial Rounded MT";
        }
       h2
       {
       	color: white;
       	font-family: "Arial Rounded MT";
       	text-decoration: none; 
       	text-align: center;

       }
       
     
	</style>
</head>
<body>

	
<h1>You are logged out,Thank You for choosing us.</h1></div>
<h2>&#128073; <a href="/login"> Login Back </a> &#128072;</h2>

</body>
</html>